@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

        .cuerpo_Carrusel {
            font-family: Concert One, sans-serif;
        }

        .carousel-item img {
            height: 450px;
            object-fit: cover;
        }

        .carousel-item .left-content {
            background-color: black;
            color: white;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.5);
        }

        .carousel-item .right-content {
            width: 50%;
        }

        .carousel-item .left-content div {
            padding: 50px;
            width: 100%;
        }

        .play-button {
            color: yellow;
            font-size: 2rem;
            text-align: right;
            display: block;
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: 3%;
        }