body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
}

.contenidoDonante {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #f8f9fa;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-wrap: wrap;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    flex: 1 1 20%;
    /* Adjust this to fit four items per row */
    min-width: 150px;
    /* Ensure a minimum width for smaller screens */
}

.stat-value {
    font-size: 2em;
    /* Use em for relative sizing */
    font-weight: bold;
    color: #ff4d4d;
}

.stat-label {
    font-size: 1em;
    /* Use em for relative sizing */
}

.cartasInformación {
    padding: 5%;
    padding-top: 2%;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .stat-item {
        flex: 1 1 100%;
        min-width: 100%;
        padding: 10px 0;
        border: none;
    }

    .stat-value {
        font-size: 1.5em;
    }

    .stat-label {
        font-size: 0.875em;
    }
}

h1 {
    text-align: center;
}

.donacionDeslizar {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.btn-warning {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
}

.card {
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.donation-form {
    padding: 20px;
}

.botonDonacion {
    width: 180px;
    margin: 0 auto;
    display: block;
}

#paypal-donate-button-container img {
    width: 100%;
    height: auto;
}