@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.logo_Imagen {
    max-width: 80px;
    height: auto;
    border: 2px solid black;
    border-radius: 480%;
    display: block;
    background-color: #E1F4F3;
}

.perfil {
    background-color: white;
    border-radius: 20px;
}

.navbar-toggler {
    background-color: #706C61;
}

.navbar-nav .nav-link {
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 2.5px;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}

.opcionGenero{
    font-family: "Anton", sans-serif;
}

.navbar-nav .nav-link:hover {
    font-size: 20px;
    color: red;
}

.navbar-nav .nav-link:active {
    color: blue;
}

.social-icons .bi {
    vertical-align: middle;
    margin-right: 10px;
    /* Aumenté el margen para separar un poco más los iconos */
    font-size: 24px;
    /* Cambié el tamaño de los iconos a 24px */
}

footer {
    background-color: white;
}