    /* Contenedor con scroll para la tabla */
    .table-container {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 100%;
        max-height: 600px;
    }

    /* Estilo para la tabla */
    #tableModal {
        max-width: 100%; /* Porcentaje del ancho del contenedor */
        max-width: 1000px; /* Ancho máximo en píxeles */
        margin: 0 auto; /* Centrar la tabla */
    }

    /* Estilo para el encabezado de la tabla */
    #tableModal thead th {
        background-color: #ADD8E6; /* Color celeste */
        border: 1px solid #000; /* Borde negro */
        text-align: center; /* Centrar el texto */
    }

    /* Estilo para las celdas de la tabla */
    #tableModal tbody td {
        background-color: #E0FFFF; /* Color celeste claro */
        border: 1px solid #000; /* Borde negro */
        text-align: center; /* Centrar el texto */
    }

    /* Establecer el ancho del modal basado en el ancho de la tabla */
    .modal-dialog {
        max-width: 90%; /* Porcentaje del ancho de la ventana modal */
        max-width: 1200px; /* Ancho máximo en píxeles */
    }
