@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rye&display=swap');

body {
    background-image: url('../imag/descarga.jpg');
}

.contenidoPregunta {
    max-width: 90%;
    margin: 20px auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-image: url('../imag/stars.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.accordion-item {
    background-color: transparent;
    color: white;
    margin-bottom: 15px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px black;
}

.accordion-button {
    background-color: transparent;
    color: white;
    border: 2.5px solid white;
    border-radius: 20px;
}

.titulo {
    margin: 5%;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}